*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    position: relative;
}
/*////////////// Navigation Area starts////////////*/
.nav{
    border: solid rgb(209, 181, 181) 1px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
    width:60%;
    height: 500px;
    background-color: rgb(160, 157, 157);
}
.nav_content{
    height:55px;
    background-color: rgb(102, 91, 91);
}
a{
    float: right;
    margin: 20px;
    text-decoration: none;
    color: rgba(247, 163, 9, 0.63);
}
a:hover{
    border-bottom: 1px solid orange ;
    color: rgb(255, 255, 255);
}
/*////////////// Navigation Area Ends ////////////*/
.content{
    margin-top: 50px;
    
}
input{
    margin-top: 30px;
    margin-left: 55px;
    width: 40%;
    height: 50px;
}
button{
    width: 60px;
    height: 40px;
    background-color: orange;
    border-radius: 10px;
    font-size: 15px;


}
button:hover{
    background-color: rgba(255, 166, 0, 0.514);
}
select{
    margin-top: 30px;
    margin-left: 55px;
    width: 40%;
    height: 50px;
}
h3{
    font-size: 60px;
    text-align: center;
    color: orange;
}
/*////////////// Tables ////////////*/
table{
    margin-top: 2%;
    margin-right: 5%;
}
td, th{
    margin: 40px;
    font-size: 15px;
    padding: 20px;
    
}
td{
    margin: 50px;
}
thead{
    background-color: rgb(219, 155, 34);
}
.currencies{
    background-color:rgb(71, 69, 69) ;
    color:white;
}
img{
    width: 250px;
    height: 250px;
    position: relative;
    left: 270px;
    top:100px ;
}
form{
    border: 1px soli red;
    margin-top: 25px;
    font-size: 20px;
    margin-left: 40px;
}
p{
    margin-left: 236px;
    margin-top:120px;
    position:relative;
    right: 70px;
}
.copy{
    text-decoration: none;
    float: none;
    color: black;
    margin-top:120px;
}
.copy:hover{
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.next{
    background-color: rgb(102, 91, 91);
    border-radius: 5px;
}
.nav{
    background-color: transparent;
}